cellpose==4.0.8
ensemble_boxes==1.0.9
h5py==2.10.0
imgaug==0.4.0
ipython==7.34.0
keras_nightly==2.5.0.dev2021032900
matplotlib==3.5.3
multiprocess==0.70.15
numba==0.56.4
numpy==1.19.5
opencv_python_headless==4.12.0.88
Pillow==9.5.0
Pillow==12.1.0
pip==22.3.1
progressbar33==2.4
pycocotools==2.0.11
PyQt5==5.15.11
PyQt5_sip==12.13.0
python_mermaid==0.1.6
ray==2.7.2
read_roi==1.6.0
rtree==1.4.1
scikit_image==0.19.3
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.13.2
setuptools==65.6.3
Shapely==2.1.2
sympy==1.10.1
tensorflow==2.5.0
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
