numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow==1.15.2
tensorflow-gpu==1.15.2
keras==2.1.0
opencv-python
h5py
imgaug
IPython[all]
PymageJ
read_roi
scipy
opencv-python
scikit-learn
PyQt5
pycocotools
progressbar2
protobuf
jupyter
